.footer {
  padding-top: 133px;
  height: 458px;
  background-color: var(--footer-bg-color);
  margin-top: -69px;
  width: 100%;
}

.footer_contacts {
  display: block;
  margin: 0 auto;
  max-width: 1146px;
  height: 285px;
  margin-bottom: 40px;
  /* outline: 1px solid red */
  /* background-color: #fff; */
}

.footer_social {
  border-top: solid 1px;
  border-color: var(--stroke-and-line);
  height: 91px;
  background-color: var(--footer-bg-color);
  margin-bottom: 0%;
  display: flex;
}

.footer-logo {
  display: block;
  padding-top: 22px;
  max-width: 132px;
}

.footer_social__icons {
  height: 54px;
  max-width: 195px;

}

.footer_social_block {

  display: flex;
  justify-content: space-between;
}

.social-list {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  padding-top: 8px;
}

.social-link {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

}

.social-item {
  width: 48px;
}

.social-icon-footer {
  fill: var(--accent-color);
  margin: 12px;
}

.social-icon-footer:hover {
  fill: red;
}

.copyright {
  padding-top: 34px;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(26 / 14);
  color: var(--copyright-color);

}

.contact_btn {
  padding: 12px 24px;
  font-family: inherit;
  font-weight: 600;
  font-size: 14px;
  line-height: calc(17 / 14);
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  background: #ffffff;
  color: var(--accent-color);

  text-transform: uppercase;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  transition: color 300ms linear, background-color 300ms linear, box-shadow 300ms linear;
  height: 48px;
  margin-top: 11px;
  width: 180px;
}

.contact_us {
  display: flex;
  justify-content: space-between;
  margin-top: 120px;
  height: 145px;
  background-color: var(--join-bg-color);
  border-radius: 12px;
  position: sticky;
  padding: 40px;
}

.join_title {
  font-weight: 600;
  font-size: 24px;
  line-height: calc (29 / 24);
  color: #ffffff;
}

.join_text {
  margin-top: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #ffffff;
}

.footer_menu {
  display: flex;
}

.footer-all {
  display: flex;
}

.contacts_list {
  margin-right: 98px;
  font-weight: 500;
  font-size: 14px;
  line-height: 160%;
  font-style: normal;
  color: var(--primary-text-color);
}

.footer-menu_list {
  margin-right: 60px;
}

.footer-menu_item {
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: calc(22 / 14);
  color: var(--primary-text-color);
  text-decoration: none;
  margin-bottom: 14px;
}

.footer-menu_list-last {
  margin-right: 45px;
}

.footer-contacts_title,
.footer-menu_title {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: calc(17 / 14);
  margin-bottom: 8px;
  text-transform: uppercase;
}

.footer-menu_title {
  margin-bottom: 30px;
}


.footer-contacts_item {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: calc (26 / 14);
  margin-bottom: 30px;
}

.footer-contacts_data {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(22 / 14);
  flex: none;
  order: 1;
  flex-grow: 0;
  margin-bottom: 20px;
}

.footer-contacts_data:hover,
.footer-menu_item:hover,
.footer-contacts_data:focus,
.footer-menu_item:focus {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-contacts-links {
  color: var(--primary-text-color);
  display: flex;

}

.contacts-icon {
  display: inline-block;
  margin-right: 16px;
}